<html>
<head>
 <title></title>
</head>
<body>
 <div id="container" style="padding: 60px">
	 <form action='/result' method='post'>
		  Name: <input type='text' name='name'><br><br><br><br>
		  Dojo Location:
		  <select name="location">
			  <option value="Mountain View">Mountain View</option>
			  <option value="san jose">san jose</option>
			  <option value="texas">texas</option>
			  <option value="seattle">seattle</option>
		  </select><br><br><br><br>
		  Favorite Language:
		  <select name="language">
			  <option value="Javascript">Javascript</option>
			  <option value="java">java</option>
			  <option value="mean">mean</option>
			  <option value="ruby">ruby</option>
		  </select><br><br><br><br>
		   Comment (optional): <input type='text' name='comment'><br><br><br><br>
		  <input type='submit' value='Submit'>
	 </form>
 </div>
</body>
</html>