<!DOCTYPE html>
<html>
<head>
 <title></title>
</head>
<body>
 <div id="container" style="padding: 60px">
	 <h3>submitted information:</h3>
	 
	 
        <h3>Name: <%=name %></h3>
        <h3>Dojo Location: <%=location %></h3>
        <h3>Favorite language: <%=language %></h3>
        <h3>Comment: <%=comment %></h3>
        
        <hr>
   
    <a href="/">Go Back</a>
 </div>
</body>
</html>




